@media screen and (max-width: 980px) {
    
    .swiper {
        width: 100%;
        height: calc(100%-10vh);
    }
    
    .content-slider-2__sideblock{
        display: none;
    }

    .content-slider-2__player-header{
        width: 100%;
        height: 40%;
    }

    .player-ctn{
        width: 100%;
        height: 50%;
        font-size: 14px;
    }

    .playlist-track-ctn{
        margin: 5px auto 0;
        width: 90%;
    }

    .infos-ctn{
        padding: 20px 0 10px;
        width: 90%;
        margin: 0 auto;
    }

    #myProgress {
        width: 80%;
    }

    .btn-ctn {
        margin: 10px auto;
    }

    .btn-ctn > div {
        margin:0 3px;
    }

    .swiper .mySwiper .swiper-initialized .swiper-vertical .swiper-pointer-events .swiper-backface-hidden{
        display: none;
    }
}

@media screen and (max-width: 980px) and (orientation:landscape){
    .content-slider-2__player-header{
        display: none;
    }

    .playlist-track-ctn{
        margin: 5px auto 0;
        width: 90%;
        height: 45px;
    }
}
